/* signup */
.signup-container{
    margin-top: 100px;
    max-width: 60%;
}
.error-typo{
    color: #ad5b4c;
    font-size: 12px;
    padding: 10px;
}

/* signin */
.signin-header{
    display: flex;
    flex-direction: row;
    text-align: center;
    color: gray;
}
.signin-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.signin-form button{
    margin-top:10px;
}